*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box
}

header{
    display: flex;
    height: 10vh;
    margin: auto;
    align-items: center;
    background:linear-gradient(to right, #6610f2, #007bff);
}

.logomonggo,
.nav-heads,
.button-select,
.icon-search{
    display: flex;
}

.nav-heads{
    justify-content: space-around;
    list-style: none;
}

.nav-head{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.logomonggo{
    flex: 1;
    margin: 25px;
}

nav{
    flex: 2;
}

.icon-search{
    flex: 1;
    justify-content: flex-end;
    margin: 5px;
}

.logomonggo img{
    height: 6vh;
}

.icon-search img{
    height: 6vh;
}

footer{
    height: 30vh;
    justify-content: center;
    margin: auto;
    align-items: center;
    background:linear-gradient(to right, #6610f2, #007bff);
}

.logomonggobawah{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.nav-foot{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;}